/* FIXME: aggionare le misure (px) con paramentri scalabili
        in base alla dimensione schermo (page responsive) */
:root {
    --brd-color: rgba(0, 0, 0, 0.250);
    --date-color: rgba(0, 0, 0, 0.717);
    --logo-dim: 30px;
    --bg-event: rgb(0, 128, 0);
    --bg-t-event: rgba(0, 128, 0, 0.250);
    --text-t-event: rgba(0, 0, 0, 0.250);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 5px 10px 0 10px;
}

button {
    background-color: #fff;
    border-style: solid;
}

img {
    width: 100%;
    height: 100%;
}

header,
footer {
    display: grid;
    grid-template-columns: repeat(6, minmax(calc(100% * (1/6)), calc(100% * (1/6))));
    width: 100%;
    height: 45px;

    font-size: 20px;
}

header>*,
footer>* {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header */
header {
    margin-bottom: 5px;
}

header button:hover {
    cursor: pointer;

    -ms-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    transform: scale(1.15);

    color: rgba(0, 0, 255, 0.558);
    background-color: rgb(234, 234, 234);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

header>.logo {
    grid-column: 1/2;
}

header>.logo>svg {
    width: var(--logo-dim);
    height: var(--logo-dim);

    margin: 0 5px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header>.logo>span {
    margin-top: 5px
}

header>.btn {
    grid-column: 2/3;
    flex-direction: row;
    gap: 5px;
}

.btn>.today-btn {
    width: 50px;
    height: 30px;
}

.btn>.left-ar,
.btn>.right-ar {
    width: 20px;
    height: 30px;
}

.btn>.today-btn>button,
.btn>.left-ar>button,
.btn>.right-ar>button {
    width: 100%;
    height: 100%;
    border-style: groove;
    border-radius: 10%;
}


header>.header-month.header-year {
    grid-column: 3/5;
}

/* Header -> add event */
header>.add-event {
    grid-column: 6/7;
}

header>.add-event>button {
    margin: 0 5px;

    border-radius: 50%;
    border: 2px solid rgb(132, 131, 131);

    width: var(--logo-dim);
    height: var(--logo-dim);

    color: rgb(0, 0, 255);
    text-align: center;

    transition-duration: .4s;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    right: 10px;
    min-width: 300px;
    overflow: auto;
    z-index: 1;

    background-color: #d6d6d6;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 1%;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.dropdown-content>* {
    font-size: 16px;
}

.dropdown-content>form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    text-align: center;
}

input[type="text"],
input[type="date"],
input[type="time"] {
    border: 1px solid #333;
    box-sizing: border-box;
}

input:invalid {
    border-color: #900;
    background-color: #fdd;
}

input:focus:invalid {
    outline: none;
}

.required {
    box-shadow: 0 0 5px 1px rgb(255, 0, 0);
}


/* */
.calendar {
    border-top: 1px solid var(--brd-color);
    border-left: 1px solid var(--brd-color);
    font-size: 15px;
}

.month {
    display: grid;
    /* TODO: aggiungere media query per gestire la riduzione dell dimensione dello schermo
    la tabella ha dimensione semi-fissa adesso */
    grid-template-columns: repeat(7, minmax(calc(100% * (1/7)), calc(100%* (1/7))));
}

/* Day */
.day {
    border-right: 0.5px solid var(--brd-color);
    border-bottom: 0.5px solid var(--brd-color);
    color: var(--date-color);

    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    align-items: center;
    height: 110px;
    overflow: hidden;
}

.day#Sun>.date {
    color: rgb(255, 0, 0);
}

.transparency {
    color: rgba(0, 0, 0, 0.250);
}

.transparency#Sun>.date {
    color: rgba(255, 0, 0, 0.250);
}

.date {
    /* con 3+ eventi ridurre questo margin a 4 o 3 */
    display: flex;
    flex-direction: column;
}


/* Event */
.event {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.event>.icon {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: green;
    display: inline-block;
}

.transparency .event>.icon {
    background-color: var(--bg-t-event);
}

.event>.title {
    font-size: 13px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 1px;
}

.event.Fgg {
    border: 2px solid var(--bg-event);
    border-radius: 8px;
    background-color: var(--bg-event);
    color: #fff;
}

.transparency>.event.Fgg {
    border: none;
    background-color: var(--bg-t-event);
    color: rgba(0, 0, 0, 0.250);
    padding: 3px;
}

.event.Fggs,
.event.NFggs {
    border: 2px solid var(--bg-event);
    border-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    background-color: var(--bg-event);
    color: #fff;
}

.transparency>.event.Fggs,
.transparency>.event.NFggs {
    border: none;
    background-color: var(--bg-t-event);
    color: rgba(0, 0, 0, 0.250);
    padding: 3px;
}

.event.Fggs.end-evt,
.event.NFggs.end-evt {
    height: 20px;
    border-radius: 0;
}


.event.NFgg {
    border: 2px solid var(--bg-event);
    border-radius: 8px;
    color: #000;
}

.event.NFgg>.title {
    width: 94%;
}

.event.NFggs {
    padding: 3px 0;
}

.event.end-evt.last-evt {
    border-radius: 0 8px 8px 0;
}

/* Other Event (Altri [Number]...) */
.other-evt {
    order: 5;
    width: 100%;
    height: 20px;
    text-align: left;
    padding: 2px 0;
    padding-left: 9px;
}

/* .transparency:not() */
.other-evt:hover {
    cursor: pointer;
    padding: 0;
    padding-left: 7px;
    border: 2px solid rgb(222, 222, 222);
    border-radius: 8px;
    background-color: rgb(222, 222, 222);
}

.event.empty-evt {
    background-color: #900;
}

/* Event View */
.event-view-container {
    display: none;
    position: absolute;
    width: 250px;
    height: auto;

    border-radius: 8px;

    background-color: #fff;
    color: #000;

    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.event-view-container .event>.title {
    width: 93%;
}

.event-view-container .event.NFgg>.title {
    width: 88%;
}

.event-view {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 7px;
    overflow: hidden;

    border-radius: 8px;
    padding: 10px 10px;

    font-size: 15px;
}

.close-view-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0px;
    right: 0px;

    height: 30px;
    width: 30px;
    margin: 5px;
    border-radius: 50%;
    border: 1px solid white;

    text-align: center;
    font-size: 16px;
    color: #000;
    background-color: #fff;
}

.close-view-btn:hover {
    cursor: pointer;

    background-color: rgb(215, 215, 215);
}

.remove-evt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 100%;
}

.remove-evt:hover {
    cursor: pointer;
}