/* FIXME: aggionare le misure (px) con paramentri scalabili
        in base alla dimensione schermo (page responsive) */
:root {
    --border-color: rgba(0, 0, 0, 0.250);
    --date-color: rgba(0, 0, 0, 0.717);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { padding: 10px; }
header, footer {
    display: flex;
    flex-direction: row;
    width: 100%;
}
header>*, footer>* { margin: 10px; }

header>.add-event {
    float: right;
}

/* Calendar section style */
.calendar {
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    font-size: 15px;
}

.month {
    display: grid;
    /* TODO: aggiungere media query per gestire la riduzione dell dimensione dello schermo
    la tabella ha dimensione semi-fissa adesso */
    grid-template-columns: repeat(7, minmax(calc(100% * (1/7)),calc(100%* (1/7))));
}

.day {
    border-right: 0.5px solid var(--border-color);
    border-bottom: 0.5px solid var(--border-color);
    color: var(--date-color);

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 110px;
    overflow: hidden;
}

.day#Sun>.date { color: red; }

.transparency {
    color:rgba(0, 0, 0, 0.250);
}

.transparency#Sun>.date {
    color: rgba(255, 0, 0, 0.250);
}

.date {
    margin-bottom: 6px;
}

.event {
    margin: 2px 0;
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    overflow: hidden;
}
.event>.point {
    margin-right: 6px;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    background-color: green;
    display: inline-block;
}
.event>.title {
    font-size: 12px;
    width: 100%;
    /* white-space: nowrap; */ /* DISABLE per vedere le date degli eventi*/
    overflow: hidden;
    /* overflow-x: hidden; */
}

