/* FIXME: aggionare le misure (px) con paramentri scalabili
        in base alla dimensione schermo (page responsive) */
:root {
    --border-color: rgba(0, 0, 0, 0.250);
    --date-color: rgba(0, 0, 0, 0.717);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { padding: 10px; }
header>*, footer>* { margin: 10px; }

/* Calendar section style */
.calendar {
    border: 1px solid var(--border-color);
    font-size: 15px;
}

.month {
    display: grid;
    grid-template-columns: repeat(7, auto);
}


.day {
    border-bottom: 0.5px solid var(--border-color);
    border-right: 0.5px solid var(--border-color);
    
    text-align: center;
    width: 100%;
    height: 120px;
} .sunday { color: red; }

.day > .date {
    color: var(--date-color);
}

.event {
    margin: 10px 10px;
}
.event > .title {
    font-size: 12px;
}

